:root {
    --primary: rgb(245 245 244);
    --secondary: rgb(231 229 228);

    --dark-primary: rgb(68 64 60);
    --dark-secondary: rgb(120 113 108);
}

@tailwind base;

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
}

@media (prefers-color-scheme: dark) {
    /* Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--dark-secondary) var(--dark-primary);
    }

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 12px;
    }

    *::-webkit-scrollbar-track {
        background: var(--dark-primary);
        border-radius: 5px;
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--dark-secondary);
        border-radius: 14px;
        border: 3px solid var(--dark-primary);
    }
}

@tailwind components;
@tailwind utilities;
