:root {
  --primary-scrollbar: rgb(245 245 244);
  --secondary-scrollbar: rgb(229 229 229);

  --dark-primary-scrollbar: rgb(64 64 64);
  --dark-secondary-scrollbar: rgb(115 115 115);

  font-family: "Inter", sans-serif;
}

@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-scrollbar) var(--primary-scrollbar);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--primary-scrollbar);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary-scrollbar);
  border-radius: 14px;
  border: 3px solid var(--primary-scrollbar);
}

@media (prefers-color-scheme: dark) {
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--dark-secondary-scrollbar) var(--dark-primary-scrollbar);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: var(--dark-primary-scrollbar);
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--dark-secondary-scrollbar);
    border-radius: 14px;
    border: 3px solid var(--dark-primary-scrollbar);
  }
}

@tailwind components;
@tailwind utilities;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
